{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<section class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4>Кабінет</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Мої замовлення</a></li>
                            <li><a href="#">Налаштування</a></li>
                            <li>
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn_3">Вийти</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-8">
                <h2>Вітаємо, {{ user.username }}!</h2>
                <hr>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Дата реєстрації:</strong> {{ user.date_joined|date:"d M Y" }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}