{% extends "shop/base.html" %}
{% load static %}

{% block content %}
  <!-- breadcrumb part start-->
  <section class="breadcrumb_part single_product_breadcrumb">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="breadcrumb_iner">
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- breadcrumb part end-->

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        
        <div class="col-lg-6 col-xl-6">
          <div class="product_slider_img">
            <div id="vertical">
              {% if product.image %}
                  <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
              {% else %}
                  <img src="{% static 'shop/img/product/single_product.png' %}" alt="{{ product.name }}" class="img-fluid">
              {% endif %}
            </div>
          </div>
        </div>
        
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h3>{{ product.name }}</h3>
            <h2>{{ product.price }} грн</h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Категорія</span> : {{ product.category.name }}</a>
              </li>
              <li>
                <a href="#"> <span>Наявність</span> : {% if product.available %}В наявності{% else %}Немає в наявності{% endif %}</a>
              </li>
            </ul>
            <p>
                Товар
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">
              <div class="product_count">
                <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="number-increment"> <i class="ti-plus"></i></span>
              <div class="add_to_cart">
                  <a href="#" class="btn_3">add to cart</a>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->
{% endblock %}